ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .main-nav {
      display: flex;
  }

  .push {
      margin-left: auto;
  }

.google-image {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center 
    
}

.google-image {
    margin-top: 250px;
}



body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 300px;
}

.searchTerm {
  width: 100%;
  padding: 5px;
  height: 20px;
  border-radius: 10px;
  outline: none;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}